p{
    color:rgb(73, 0, 39);font-size: larger;font-weight: 900;
}

body{background-color: rgb(104, 255, 242);}


div

{
    max-width: 800px;
    margin: auto;
}

h1
{
color: black;font-size: xx-large;font-weight: 900;

}